<div class="divider"></div>

<div clas=s"row">
  <div id="table_wrapper" class="col-lg-12">
    
  </div>
</div>


<script type="text/template" id="subtemplate_daemon">

  {{#hosts}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="3">{{system_info.hostname}} @ <a href="#remote/{{url}}">{{id}} </a></th>
      </tr>
      <tr>
        <th>Status</th>
        <th>PID</th>
        <th>pm_id</th>
        <th>Path</th>
        <th>User</th>
        <th class="text-danger">Unstable Restarts</th>
        <th>CPU</th>
        <th>Memory</th>
      </tr>
    </thead>
    <tbody>
      {{#processes}}
      <tr>
        <td class="status-col">
          <span class="label label-{{pm2_env.status}}">
            {{pm2_env.status}}
          </span>
        </td>
        <td>{{pid}}</td>
        <td>{{pm_id}}</td>
        <td>{{pm2_env.pm_exec_path}}</td>
        <td>{{pm2_env.env.USER}}</td>
        <td>{{pm2_env.unstable_restarts}}</td>
        <td>{{monit.cpu_consumption_percent}} % </td>
        <td>{{monit.memory_consumption_percent}}%</td>
      </tr>

      {{/processes}}

    </tbody>
  </table>
  {{/hosts}}

</script>